.firstLine {
    display: grid;
    grid-template-columns: 180px 1fr 30px;
    grid-template-rows: 60px;
    grid-gap: 25px;
}

.nameProject {
    grid-column: 1/2;
    grid-row: 1/2;
}

.search-main {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    padding: 0;
    margin: 0;
    border: solid grey 2px;
}
.searchButton {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100px;
    justify-self: end;
    z-index: 1;
}
.settings {
    padding-top: 12px;
    grid-column: 3/4;
    grid-row: 1/2;
}